services:
  # [DATABASE] Сервис PostgreSQL.
  postgres:
    image: postgres:16                # Версия образа: 16.
    container_name: postgres
    restart: unless-stopped
    environment:
      # [CREDENTIALS] Настройки доступа (инициализация БД).
      # Примечание: применение параметров только при первом запуске (создании тома).
      POSTGRES_USER: postgres         # Имя суперпользователя.
      POSTGRES_PASSWORD: password     # Пароль.
      POSTGRES_DB: mydatabase        # Имя базы данных для автоматического создания.
    volumes:
      # [PERSISTENCE] Персистентное хранилище данных.
      # ПРИМЕЧАНИЕ ПО ПРАВАМ (Linux):
      # Требование: владение проброшеной директорией ./data пользователем 'postgres' (UID 999).
      # Необходимая команда: `sudo chown -R 999:999 ./data`
      - ./data:/var/lib/postgresql/data
    ports:
      # Проброс стандартного порта 5432.
      # Назначение: внешний доступ (DBeaver, pgAdmin, приложение).
      - "5432:5432"

  # [TRANSLATOR] Сервис экспортера метрик (PostgreSQL Exporter).
  # Принцип работы: подключение в режиме клиента для чтения системной статистики (транзакции, размеры таблиц).
  postgres-exporter:
    image: prometheuscommunity/postgres-exporter
    container_name: postgres-exporter
    restart: unless-stopped
    environment:
      # [CONNECTION] Строка подключения (DSN).
      # Назначение: аутентификация экспортера в базе данных.
      # Синтаксис: postgresql://LOGIN:PASS@HOST:PORT/DBNAME?sslmode=disable
      # Использование DNS-имени сервиса 'postgres' во внутренней сети Docker.
      DATA_SOURCE_NAME: "postgresql://postgres:password@postgres:5432/mydatabase?sslmode=disable"
    ports:
      # Порт для сбора метрик Prometheus (стандартный 9187).
      - "9187:9187"
    depends_on:
      # Зависимость запуска от готовности сервиса базы данных.
      - postgres