# [MASTER COMPOSE]
# Назначение: объединение микросервисов проекта в единый стек.
# Требование: поддержка механизма 'include' (Docker Compose v2.20+).
#
# Команда запуска:
# docker compose up -d

# Подключение модулей (compose-файлов) из поддиректорий.
# Примечание: порядок подключения не влияет на очередность запуска сервисов.
include:
  # 1. Стек приложения (FastAPI)
  - path:
      - app-stack/docker-compose.yml

  # 2. Стек мониторинга (Prometheus, Grafana, Alertmanager)
  - path:
      - prometheus-stack/docker-compose.yml

  # 3. Стек базы данных (Postgres)
  - path:
      - postgres-stack/docker-compose.yml

  # 4. Стек веб-сервера (Nginx)
  - path:
      - nginx-stack/docker-compose.yml

  # 5. Стек мониторинга контейнеров (cAdvisor)
  - path:
      - cadvisor-stack/docker-compose.yml