# Глобальные настройки
global:
  # Время, через которое алерт считается решенным (RESOLVED), 
  # если от Prometheus перестали приходить данные о нем.
  resolve_timeout: 5m

# [ROUTING] Логика распределения алертов
route:
  # Группировка: алерты с одинаковыми именами объединяются в одно сообщение.
  # Например, если упадет 10 сервисов, тебе придет не 10 сообщений, а 1 со списком.
  group_by: ['alertname']
  
  # Групповое ожидание: сколько ждать новых алертов перед отправкой первого сообщения (сбор "пачки").
  group_wait: 10s
  
  # Интервал группы: как часто слать обновления, если в текущей группе появились новые алерты.
  group_interval: 10s
  
  # Повтор: через какое время отправить уведомление снова, если проблема НЕ исправлена.
  # Рекомендуется ставить от 3h до 24h, чтобы не "спамить".
  repeat_interval: 1h
  
  # Кому слать по умолчанию (если ни одно правило ниже не сработало)
  receiver: 'blackhole'

  # [ВАЖНО] Правила маршрутизации
  routes:
    # Отправляем Critical и Warning в Telegram
    - matchers:
        - severity =~ "critical|warning"
      receiver: 'telegram-alerts'
      continue: true # Продолжить, чтобы проверить правило для Email

    # Отправляем только Critical на Email (ОТКЛЮЧЕНО)
    # - matchers:
    #     - severity = "critical"
    #   receiver: 'email-alerts'

# [RECEIVERS] Получатели уведомлений
receivers:
  # 1. Приемник "Черная дыра" (заглушка). Никуда не шлет, просто гасит алерты.
  - name: 'blackhole'

  # 2. Пример настройки Telegram
  - name: 'telegram-alerts'
    telegram_configs:
      - bot_token: 'bot_token' # Получается у @BotFather
        chat_id: 123456789         # Твой ID или ID группы (узнать у @userinfobot)
        parse_mode: 'HTML'
        # Сообщение, которое придет в телеграм:
        message: '<b>{{ .Status | toUpper }}</b>: {{ .CommonAnnotations.summary }}\n{{ .CommonAnnotations.description }}'

  # 3. Пример настройки Email (ОТКЛЮЧЕНО)
  # - name: 'email-alerts'
  #   email_configs:
  #     - to: 'admin@example.com'
  #       from: 'monitoring@example.com'
  #       smarthost: 'smtp.gmail.com:587'
  #       auth_username: 'user@example.com'
  #       auth_password: 'password'
  #       # Дефолтный заголовок письма, можно тоже шаблонизировать
  #       headers:
  #         Subject: 'Prometheus Alert: {{ .GroupLabels.alertname }}'