global:
  scrape_interval: 15s     # Интервал сбора метрик
  evaluation_interval: 15s # Интервал проверки правил алертов

alerting:
  alertmanagers:
  - static_configs:
    - targets: ['localhost:9093'] # Адрес Alertmanager

rule_files:
  - "alert_rules.yml" # Файл правил алертов

scrape_configs:
  # --- ИНФРАСТРУКТУРА (ХОСТЫ) ---

  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090'] # Метрики сервера Prometheus

  - job_name: 'node-exporter'
    static_configs:
      - targets: ['localhost:9100'] # Метрики ОС Linux (CPU, Disk, Mem)
      
  - job_name: 'cadvisor'
    static_configs:
      - targets: ['localhost:8080'] # Метрики Docker-контейнеров

  - job_name: 'windows-exporter'
    static_configs:
       - targets: ['192.168.1.183:9182', '192.168.1.184:9182'] # Метрики ОС Windows

  # --- СЕРВИСЫ (БАЗЫ И ПРОКСИ) ---

  - job_name: 'nginx'
    static_configs:
      - targets: ['localhost:9113'] # Метрики веб-сервера Nginx

  - job_name: 'postgres'
    static_configs:
      - targets: ['localhost:9187'] # Метрики базы данных PostgreSQL

  - job_name: 'python-app'
    static_configs:
      - targets: ['localhost:8000'] # Метрики Python-приложения (FastAPI)