# Глобальные настройки
global:
  scrape_interval: 15s     # Интервал сбора метрик
  evaluation_interval: 15s # Интервал вычисления правил алертинга
  scrape_timeout: 10s      # Таймаут сбора (защита от зависаний, < scrape_interval)

alerting:
  alertmanagers:
  - static_configs:
    - targets: ['localhost:9093'] # Адрес сервиса Alertmanager

rule_files:
  - "alert_rules.yml" # Путь к файлу правил алертов

scrape_configs:
  # --- ИНФРАСТРУКТУРА (ХОСТЫ) ---
  # !Комментирование неиспользуемых блоков обязательно!
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090'] # Метрики сервера Prometheus

  - job_name: 'node-exporter'
    static_configs:
      - targets: ['localhost:9100', 'remoteip:9100'] # Метрики ОС Linux (2 хоста)
      
  - job_name: 'cadvisor'
    static_configs:
      - targets: ['localhost:8080'] # Метрики Docker-контейнеров

  - job_name: 'windows-exporter'
    static_configs:
       - targets: ['192.168.1.183:9182', '192.168.1.184:9182'] # Метрики ОС Windows (2 хоста)

  # --- СЕРВИСЫ (БАЗЫ И ПРОКСИ) ---

  - job_name: 'nginx'
    static_configs:
      - targets: ['localhost:9113'] # Метрики веб-сервера Nginx

  - job_name: 'postgres'
    static_configs:
      - targets: ['localhost:9187'] # Метрики базы данных PostgreSQL

  - job_name: 'python-app'
    static_configs:
      - targets: ['localhost:8000'] # Метрики Python-приложения (FastAPI)

  # --- РАСШИРЕННЫЙ ПРИМЕР ---
  # Параметры: путь, интервал, пользовательские теги.
  # - job_name: 'custom-service-example'
  #   metrics_path: '/metrics'             # Путь к метрикам (по умолчанию /metrics)
  #   scrape_interval: 30s                 # Индивидуальный интервал сбора
  #   static_configs:
  #     - targets: ['192.168.1.50:8080']
  #       labels:
  #         env: 'production'              # Метка окружения (prod/stage)
  #         service: 'auth-backend'        # Имя сервиса для группировки