services:
  # [WEB SERVER] Основной контейнер Nginx.
  # Сам по себе Nginx не умеет отдавать данные в формате, который понимает Prometheus.
  nginx:
    image: nginx:latest
    container_name: nginx
    restart: unless-stopped
    volumes:
      # Прокидываем наш конфиг с разрешенным /stub_status.
      - ./config/default.conf:/etc/nginx/conf.d/default.conf:ro
    ports:
      # Проброс: заходим на http://localhost:8081 - попадаем в Nginx на порт 80.
      - "8081:80"

  # [TRANSLATOR] Контейнер-экспортер.
  # Это "переводчик". Он берет текст из http://nginx/stub_status, 
  # превращает его в метрики (типа nginx_http_requests_total) и отдает их Prometheus.
  nginx-exporter:
    image: nginx/nginx-prometheus-exporter:latest
    container_name: nginx-exporter
    restart: unless-stopped
    command:
      # Указываем экспортеру, где искать Nginx. 
      # "nginx:80" — это имя сервиса выше и его порт внутри Docker-сети.
      - '-nginx.scrape-uri=http://nginx:80/stub_status'
    ports:
      # Стандартный порт, по которому Prometheus будет забирать метрики.
      # Этот порт (9113) мы прописывали в prometheus.yml.
      - "9113:9113"
    # Ждем, пока запустится основной Nginx, прежде чем включать "переводчик".
    depends_on:
      - nginx
