services:
  # [WEB SERVER] Сервис Nginx.
  # Примечание: отсутствие нативной поддержки формата метрик Prometheus.
  nginx:
    image: nginx:latest
    container_name: nginx
    restart: unless-stopped
    volumes:
      # Монтирование конфигурационного файла с активным /stub_status.
      - ./config/default.conf:/etc/nginx/conf.d/default.conf:ro
    ports:
      # Проброс портов: хост 8081 -> контейнер 80.
      - "8081:80"

  # [TRANSLATOR] Сервис экспортера метрик (Nginx Prometheus Exporter).
  # Функционал: преобразование данных из http://nginx/stub_status в формат метрик Prometheus.
  nginx-exporter:
    image: nginx/nginx-prometheus-exporter:latest
    container_name: nginx-exporter
    restart: unless-stopped
    command:
      # Определение целевого URI для сбора метрик.
      # "nginx:80" — DNS-имя сервиса и порт во внутренней сети Docker.
      - '-nginx.scrape-uri=http://nginx:80/stub_status'
    ports:
      # Порт для отдачи метрик Prometheus (стандартный 9113).
      - "9113:9113"
    # Определение зависимости запуска от сервиса nginx.
    depends_on:
      - nginx