services:
  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter
    # Политика перезапуска: перезагружать всегда, если контейнер не был остановлен вручную командой docker stop.
    restart: unless-stopped
    
    # [VOLUMES] Проброс файловых систем хоста в контейнер.
    # ВАЖНО: Мы монтируем /proc и /sys ОТДЕЛЬНО, хотя они есть внутри корня /.
    # Причина: Docker bind-mount НЕ рекурсивен.
    # Если пробросить только /, то внутри папок /proc и /sys будет ПУСТО (на диске они пустые).
    # Данные в них генерирует ядро "на лету", поэтому их нужно монтировать явно.
    volumes:
      - /proc:/host/proc:ro # Виртуальная ФС ядра с инфо о процессах. Режим RO (Read Only) для безопасности.
      - /sys:/host/sys:ro   # Виртуальная ФС с параметрами ядра и оборудования (сеть, диски).
      - /:/rootfs:ro        # Корень файловой системы хоста. Нужен для мониторинга свободного места (df -h).

    command:
      # [FLAGS] Переопределение путей.
      # Мы говорим экспортеру: "Не смотри в свои стандартные /proc и /sys (они принадлежат контейнеру)".
      # "Смотри в /host/proc и /host/sys, которые мы примонтировали с реального сервера".
      - '--path.procfs=/host/proc'
      - '--path.sysfs=/host/sys'
      
      # [FILTER] Исключение лишних файловых систем.
      # Игнорируем виртуальные пути Docker (aufs, tmpfs, overlay), чтобы не засорять мониторинг мусором.
      - '--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)'

    # [NETWORK] Сетевой режим "host".
    # Контейнер использует сетевой стек хоста напрямую, без трансляции портов (NAT).
    # Экспортер будет доступен на порту :9100 самого сервера.
    network_mode: "host"

    # [PID] Пространство имен процессов "host".
    # Разница с volumes:
    # - volumes (/proc) дают ПРОЧИТАТЬ файлы о процессах.
    # - pid: "host" дает СОВПАДЕНИЕ ID процессов.
    # Без этого: экспортер видит в файле процесс ID 500, но для ядра контейнера ID 500 не существует.
    # Это предотвращает ошибки при сборе метрик, требующих системных вызовов к процессам.
    pid: "host"