services:
  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter
    restart: unless-stopped
    volumes:
      # [HOST INTROSPECTION] Настройка доступа к мониторингу хоста из контейнера.
      # ВАЖНО: /proc и /sys — виртуальные ФС ядра, а не обычные директории.
      # Проброс только корня (/) недостаточен, так как монтирования не рекурсивны,
      # и внутри /rootfs/proc будет пусто. Требуется явное монтирование.
      - /proc:/host/proc:ro # Интерфейс ядра к процессам хоста
      - /sys:/host/sys:ro   # Интерфейс ядра к оборудованию (CPU, диски, сеть)
      - /:/rootfs:ro        # Реальная файловая система (используется для метрик диска)
    command:
      # [CRITICAL] Настройка чтения метрик не из стандартных путей,
      # а из примонтированных директорий хоста.
      - '--path.procfs=/host/proc'
      - '--path.sysfs=/host/sys'
      # Исключение из мониторинга виртуальных файловых систем и точек монтирования
      - '--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)'
    network_mode: "host"
    # [CONTEXT] Необходимость параметра при проброшенном /proc:
    # Проброс файлов (/proc) предоставляет ТОЛЬКО чтение информации.
    # pid: "host" позволяет выполнять СИСТЕМНЫЕ ВЫЗОВЫ к процессам хоста.
    # Без этого экспортер видит процессы в файлах, но при попытке обращения к ним
    # (например, для проверки лимитов) получит ошибку "No such process" из-за изоляции PID Namespace.
    pid: "host"